<style>
    /*Estils Privacitat*/
    body {
        background-image: url("images/privacitat.jpg");
        background-color: #EA6878;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: luminosity;
    }
    
    h1 {
        color: white;
    }

    .contenidor {
        padding: 15px;
        color: #e5d4d4;
        width: fit-content;
        min-width: fit-content;
        border: 5px solid black;
        border-radius: 30px;
        background-color: #e91c35b3;
        display: block;
        margin-bottom: 20px;
    }
</style>

@{
    ViewData["Title"] = "Política de privacitat";
}

    
<h1>@ViewData["Title"]</h1>

<div class="contenidor">
    <h2>Procedència de les seves dades</h2>

    <p>
        Les dades personals que tractem en la nostra web procedeixen del
        a subscripció. No recollim dades.
    </p>

    <p>
        Drets dels usuaris: <br />
        Qualsevol persona té dret a obtenir confirmació sobre si en PorraGirona
        estem tractant dades personals que ens concerneixen o no.
    </p>

    <p>
        Les persones interessades tenen dret a: <br />
        Sol·licitar l’accés a les dades personals relatives a l’interessat. <br />
        Sol·licitar la seva rectificació o supressió. <br />
        Sol·licitar la limitació del seu tractament. <br />
        Oposar-se al tractament. <br />
        Els interessats podran accedir a les seves dades personals, així com a
        sol·licitar la rectificació de dades inexactes o, si escau, a sol·licitar
        la seva supressió quan, entre altres motius, les dades ja no siguin
        necessaris per a les finalitats que van ser recollits. <br />
        En determinades circumstàncies, els interessats podran sol·licitar la
        limitació del tractament de les seves dades, en aquest cas, únicament
        els conservarem per a l’exercici o la defensa de reclamacions. <br />
        En determinades circumstàncies i per motius relacionats amb la seva
        situació particular, els interessats podran oposar-se al tractament de
        les seves dades. <br />
        PorraGirona deixarà de tractar les dades, excepte per motius legítims
        imperiosos, o l’exercici o la defensa de possibles reclamacions.
    </p>
</div>

<div class="contenidor">
    <h2>Provenance of your data</h2>

    <p>
        The personal data we process in our web come from the subscription. We 
        don't collect data.
    </p>

    <p>
        Interested persons have the right to: <br />
        Anyone has the right to obtain confirmation as to whether or not 
        PorraGirona is processing personal data concerning us.
    </p>

    <p>
        Request access to personal data relating to the data subject. <br />
        Request rectification or deletion. <br />
        Request the limitation of your treatment. <br />
        Oppose treatment. <br />
        Interested parties may access their personal data, as well as requesting 
        the rectification of inaccurate data or, where appropriate, requesting its 
        deletion when, among other reasons, the data are no longer necessary for 
        the purposes were collected. <br />
        In certain circumstances, the interested parties may request the limitation 
        of the processing of their data, in which case we will only keep them for 
        the exercise or defense of claims. <br />
        In certain circumstances and for reasons related to their particular 
        situation, the interested parties may object to the processing of their 
        data. <br />
        PorraGirona will stop processing the data, except for compelling legitimate 
        reasons, or the exercise or defense of possible claims.
    </p>
</div>
    
    
