@model PorraGirona.Models.Entity.PronPorres

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>PronPorres</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Jornada" class="control-label"></label>
                <input asp-for="Jornada" class="form-control" />
                <span asp-validation-for="Jornada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datainici" class="control-label"></label>
                <input asp-for="Datainici" class="form-control" />
                <span asp-validation-for="Datainici" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local" class="control-label"></label>
                <input asp-for="Local" class="form-control" />
                <span asp-validation-for="Local" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visitant" class="control-label"></label>
                <input asp-for="Visitant" class="form-control" />
                <span asp-validation-for="Visitant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Predlocal" class="control-label"></label>
                <input asp-for="Predlocal" class="form-control" />
                <span asp-validation-for="Predlocal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Predvisitant" class="control-label"></label>
                <input asp-for="Predvisitant" class="form-control" />
                <span asp-validation-for="Predvisitant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Golslocal" class="control-label"></label>
                <input asp-for="Golslocal" class="form-control" />
                <span asp-validation-for="Golslocal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Golsvisitant" class="control-label"></label>
                <input asp-for="Golsvisitant" class="form-control" />
                <span asp-validation-for="Golsvisitant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
