@model IEnumerable<PorraGirona.Models.Entity.PronPorres>

@{
    ViewData["Title"] = "Pronostics de Porres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    div#historic {
        border: 1px solid black;
        text-align: center;

        width: 50%;
        height: auto;
    }

    p#historic {
        color: red;
    }

    div.pronostic {
        border: 2px solid green;
        background-color: red;
        color: white;

        display: block;
        margin-bottom: 10px;

        width: 100%;
        height: auto;
    }

    div.info{
        display: flex;
    }

    div.local, div.visitant, div.resultat {
        width: 33%;
        height: 100%;
    }

</style>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<!--Html.DisplayNameFor(model => model.Jornada)-->
<!--Html.DisplayFor(modelItem => item.Jornada)-->

<div id="historic">
    <p id="historic">Històric</p>

    @foreach (var item in Model) {
    <div class="pronostic">
        <p id="jornada">Jornada @Html.DisplayFor(modelItem => item.Jornada)
        - @Html.DisplayFor(modelItem => item.Datainici) 
        </p>
        
        <div class="info">
            <div class="local">
                <p>@Html.DisplayFor(modelItem => item.Local)</p>
            </div>

            <div class="resultat">
                <p>Pronòstic</p>
                <p>___________________</p>
                <p>Resultat</p>
            </div>

            <div class="visitant">
                <p>@Html.DisplayFor(modelItem => item.Visitant)</p>
            </div>
        </div>
    </div>    

    }
</div>
